html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #003366;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

#new-task-btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#content {
    display: flex;
    flex: 1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;           
    padding: 0 2px;        
}

#high-priority {
    flex: 1;
    background-color: #f88;
    margin-bottom: 2px;     
}

#medium-priority {
    flex: 1;
    background-color: #ff8; 
    margin-bottom: 2px;
}

#low-priority {
    flex: 1;
    background-color: #8f8; 
}

#main {
    flex: 2 1 0;           
    padding: 0 5px;        
    background-color: #fefcf5;
}

#main-content {
    /* Container to insert tasks via JS */
}